
<div class="form-container" style="background-image: height: 100vh, url("https://res.cloudinary.com/dnasixvno/image/upload/v1545907865/lightscape-748406-unsplash.jpg")">
  <%= simple_form_for (@cocktail) do |form| %>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="form-box">
        <div class="form-content">
      <h1>Create some cocktail magic...</h1>
        <div class="icon-box">
         <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545561951/noun_Margarita_872924.png" class="icon">
        <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545562060/noun_Drink_872916_copy.png" class="icon">
        <img src="https://res.cloudinary.com/dnasixvno/image/upload/v1545561966/noun_drinks_1264540.png" class="icon">
        </div>
        <%= form.label :name, class: 'form-name' %>
        <%= form.text_field :name, class: 'form-control' %>
        <%= form.input :photo, class: 'form-photo'%>
        <%= form.input :photo_cache, as: :hidden %>
        <%= form.submit class: 'btn-add', id: 'form-add-btn'  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

